.gebeurtenis-info-kaart {
    flex-basis: 300px;
    background: white;
    border-radius: 4px;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 2px;
    padding: 12px;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}


section {
    background-color: #F6F3EF;
    font-size: 20px;
    height: 500px;
    overflow: hidden;
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid #BC4C2A;
    padding: 8px 16px;
    cursor: pointer;
}

section, h4
{
    margin: 30px 0px 10px 0;
}
.gebeurtenis-title {
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0px 20px 0;
    text-transform: uppercase;
    text-align: center;

}
section p {
    max-width: 300px;
    font-size: 18px;
}
.Gebeurtenis-info-kaart ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Gebeurtenis-info-kaart p:last-of-type {
    /*background: ;*/
    margin: 16px 0 4px 0;
}


.Gebeurtenis-info-kaart li {
    padding: 4px;
    margin: 4px;
    background: #ededed;
    border-radius: 4px;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: RGBA(255, 86, 0, 1);
}

a:visited {
    text-decoration: none;
    color: RGBA(255, 67, 0, 1)
}

.gebeurtenis-post {
    /*background-color: RGBA(26, 26, 27, 1);*/
    border: rgb(129, 131, 132) solid 1px;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
}

.gebeurtenis-info {
    font-size: 12px;
    color: white;
}