

header {
    background: var(--secondary);
    background: linear-gradient(133deg, var(--secondary) 0%, var(--primary) 86%, var(--primary) 100%);

}

header img {
    width: 200px;
}

.hero-content {
    width: 100%;
    display: flex;
    flex-basis: 150px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 0;
    justify-content: center;
    justify-items: flex-end;
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
}

.line {
    bottom: -50px;
    border-top: 50px solid orange;
    border-left: 100vw solid transparent;
    position: absolute;

}

