
header {
    background: var(--secondary);
    background: linear-gradient(133deg, var(--secondary) 0%, var(--primary) 86%, var(--primary) 100%);
    dsiplay: flex

}

header img {
    width: 200px;
}

.hero-content {
    display: flex;
    flex-basis: 150px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 1;
}



/*header a,*/
/*header a:link,*/
/*header a:visited {*/
/*    text-transform: uppercase;*/
/*    font-size: 12px;*/
/*    font-weight: 600;*/
/*    color: var(--white);*/
/*    text-decoration: none;*/
/*}*/