

footer {
    color: white;
    background-color:gray;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

.line {
    /*background: var(--secondary);*/
    /*background: linear-gradient(133deg, var(--secondary) 0%, var(--primary) 86%, var(--primary) 100%);*/
    bottom: 50px;
    border-top: 50px solid gray;
    border-left: 100vw solid transparent;
    position: absolute;
    flex-basis: 1200px;
    flex-shrink: 1;
    flex-grow: 1;

}