@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #FFA500FF;
  --secondary: #e5b63e;
  --secondary-light: #FDF4F2;
  --black: #292929;
  --white: #FFFFFF;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;

}

p{
  font-family: 'Quicksand', sans-serif;
  color: var(--black)
}

h1 {
  font-size: 65px;
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  font-size: 42px;
  text-align: center;
  margin: 32px 0 24px 0;
}

h3 {
  font-size: 15px;
}

a,
a:link,
a:visited {
  color: var(--primary);
  font-weight: 600;
}

/* De buitenste container is altijd de volledige schermbreedte. Het is een flexbox container die zijn inhoud altijd netjes horizontaal centreert */
.outer-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*De binnenste container is maximaal 1400px breed, zodat het er ook goed uitziet op brede schermen.
Hij mag krimpen als het scherm minder breed wordt, maar niet groeien als er meer ruimte is.*/
.inner-content-container {
  flex-basis: 1200px;
  flex-shrink: 1;
  flex-grow: 0;
  /*We voegen margin toe aan de linker- en rechterkant, zodat de content nooit helemaal tegen de rand gedrukt kan worden*/
  margin: 0 50px;
  /*We zorgen er ook voor dat deze flex-item op haar beurt ook weer een flexbox container is, waarin alle children onder elkaar komen te staan*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  color: var(--white);
  background-color: var(--black);
  padding: 20px 0;
  text-align: center;
}


/*formulier styling*/
form {
  display: flex;
  flex-direction: column;
  background: linear-gradient(133deg, var(--secondary) 0%, var(--primary) 86%, var(--primary) 100%);  padding: 32px;
  max-width: 300px;
  border-radius: 4px;
}

form label {
  margin: 4px 0;

}

form input {
  width: 100%;
  padding: 4px 8px;
  margin: 6px 0;
}



.content {
  margin: 32px;
}

.form-button {
  width: 100%;
}

section  {
  margin: 0 0 50px 0;
}

.error {
  color: var(--black);
  font-weight:bold;
}


/*button styling*/
button {
  width: 120px;
  border: 2px solid #BC4C2A;
  border-radius: 4px;
  color: #2a47bc;
  background-color: transparent;
  font-size: 14px;
  padding: 5px 5px;
  text-transform: lowercase;
  cursor: pointer;
  z-index: 10;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 5px 0px 0px 0;

}

button:hover {
  background-color: #BC4C2A;
  color: white;
  transition: all .4s ease-in-out;
}

button:disabled {
  cursor: not-allowed;
  border-color: #D08169;
  color: #D08169;
}

button + button {
  margin-left: 10px;
}


/*wordt nog niet gebruikt styling*/
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 250px;
  color: var(--white);
}
